.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: row | nowrap;
    justify-content: space-evenly;
    background: white;
}

.container img {
    width: 100%;
}

.bottom-nav i {
    display: block;
}
